In [11]:
import pandas as pd
import os
import functions as fn
import re

In [2]:
def replace_special_characters(input_string):
    return re.sub(r'[^a-zA-Z0-9]+', '_', input_string)

In [16]:
batter_df = pd.read_csv(r"D:\Yash\Projects\IPL-2024\CSV Data\batting\batsman_data_46th_Match_N_.csv")

In [17]:

# id columns
new_id = batter_df['id'].str.split(' ',1,expand=True)
batter_df = batter_df.drop(['id'],axis=1)
batter_df['id2'] = new_id[1]
batter_df['day/night'] = batter_df['id2'].apply(lambda x:'Night' if x == 'Match (N)' else 'Day')
batter_df = batter_df.drop(['id2'],axis=1)

In [18]:
batter_df.head(10)

,batsman,wicket_by,stats,batting_team,bowling_team,date,venue,winner,toss,runs_scored,day/night
0,Ruturaj Gaikwad�,Natarajan,"['57', '88', '6', '6', '173.68']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",99,Night
1,Devon Conway�,Natarajan,"['55', '97', '8', '4', '154.54']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",85,Night
2,MS Dhoni�(c)�,-,"['7', '9', '1', '0', '114.28']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",8,Night
3,Ravindra Jadeja�,-,"['1', '3', '0', '0', '100.00']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",1,Night
4,Abhishek Sharma�,Mukesh Choudhary,"['24', '29', '5', '1', '162.50']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",39,Night
5,Kane Williamson�(c),Pretorius,"['37', '67', '2', '2', '127.02']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",47,Night
6,Rahul Tripathi�,Mukesh Choudhary,"['1', '3', '0', '0', '0.00']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",0,Night
7,Aiden Markram�,Santner,"['10', '14', '0', '2', '170.00']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",17,Night
8,Nicholas Pooran��,Mukesh Choudhary,"['33', '53', '3', '6', '193.93']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",64,Night
9,Shashank Singh�,Mukesh Choudhary,"['14', '17', '1', '0', '107.14']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",15,Night

In [19]:
if 'Qualifier' in new_id[0][0]:
    batter_df['id'] = new_id[0]+new_id[1][0]
    match_id = new_id[0][0]+new_id[1][0]
    match_id = replace_special_characters(match_id)
else:
    batter_df['id'] = new_id[0]
    match_id = new_id[0][0]

batter_df.head(10)

,batsman,wicket_by,stats,batting_team,bowling_team,date,venue,winner,toss,runs_scored,day/night,id
0,Ruturaj Gaikwad�,Natarajan,"['57', '88', '6', '6', '173.68']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",99,Night,46th
1,Devon Conway�,Natarajan,"['55', '97', '8', '4', '154.54']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",85,Night,46th
2,MS Dhoni�(c)�,-,"['7', '9', '1', '0', '114.28']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",8,Night,46th
3,Ravindra Jadeja�,-,"['1', '3', '0', '0', '100.00']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",1,Night,46th
4,Abhishek Sharma�,Mukesh Choudhary,"['24', '29', '5', '1', '162.50']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",39,Night,46th
5,Kane Williamson�(c),Pretorius,"['37', '67', '2', '2', '127.02']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",47,Night,46th
6,Rahul Tripathi�,Mukesh Choudhary,"['1', '3', '0', '0', '0.00']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",0,Night,46th
7,Aiden Markram�,Santner,"['10', '14', '0', '2', '170.00']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",17,Night,46th
8,Nicholas Pooran��,Mukesh Choudhary,"['33', '53', '3', '6', '193.93']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",64,Night,46th
9,Shashank Singh�,Mukesh Choudhary,"['14', '17', '1', '0', '107.14']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",15,Night,46th

In [20]:

#batsman column
batter_df['batsman'] = batter_df['batsman'].str.replace('[^(),a-zA-Z0-9]',' ',regex=True).str.rstrip()
batter_df['captain'] = batter_df['batsman'].apply(fn.markCaptain)
batter_df['batsman'] = batter_df['batsman'].map(lambda x:x.rstrip('(c) '))

batter_df.head(10)

,batsman,wicket_by,stats,batting_team,bowling_team,date,venue,winner,toss,runs_scored,day/night,id,captain
0,Ruturaj Gaikwad,Natarajan,"['57', '88', '6', '6', '173.68']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",99,Night,46th,-
1,Devon Conway,Natarajan,"['55', '97', '8', '4', '154.54']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",85,Night,46th,-
2,MS Dhoni,-,"['7', '9', '1', '0', '114.28']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",8,Night,46th,MS Dhoni (c)
3,Ravindra Jadeja,-,"['1', '3', '0', '0', '100.00']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",1,Night,46th,-
4,Abhishek Sharma,Mukesh Choudhary,"['24', '29', '5', '1', '162.50']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",39,Night,46th,-
5,Kane Williamson,Pretorius,"['37', '67', '2', '2', '127.02']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",47,Night,46th,Kane Williamson (c)
6,Rahul Tripathi,Mukesh Choudhary,"['1', '3', '0', '0', '0.00']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",0,Night,46th,-
7,Aiden Markram,Santner,"['10', '14', '0', '2', '170.00']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",17,Night,46th,-
8,Nicholas Pooran,Mukesh Choudhary,"['33', '53', '3', '6', '193.93']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",64,Night,46th,-
9,Shashank Singh,Mukesh Choudhary,"['14', '17', '1', '0', '107.14']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",15,Night,46th,-

In [22]:
stats

        0      1     2     3           4
0   ['57'   '88'   '6'   '6'   '173.68']
1   ['55'   '97'   '8'   '4'   '154.54']
2    ['7'    '9'   '1'   '0'   '114.28']
3    ['1'    '3'   '0'   '0'   '100.00']
4   ['24'   '29'   '5'   '1'   '162.50']
5   ['37'   '67'   '2'   '2'   '127.02']
6    ['1'    '3'   '0'   '0'     '0.00']
7   ['10'   '14'   '0'   '2'   '170.00']
8   ['33'   '53'   '3'   '6'   '193.93']
9   ['14'   '17'   '1'   '0'   '107.14']
10   ['2'   '13'   '0'   '0'   '100.00']
11   ['0'    '-'   '0'   '0'        '-']

In [21]:

#stats column
stats = batter_df['stats'].str.split(',',expand=True)
batter_df['balls played'] = stats[0].replace('\W','',regex=True).str.strip()
batter_df.head(10)

,batsman,wicket_by,stats,batting_team,bowling_team,date,venue,winner,toss,runs_scored,day/night,id,captain,balls played
0,Ruturaj Gaikwad,Natarajan,"['57', '88', '6', '6', '173.68']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",99,Night,46th,-,57
1,Devon Conway,Natarajan,"['55', '97', '8', '4', '154.54']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",85,Night,46th,-,55
2,MS Dhoni,-,"['7', '9', '1', '0', '114.28']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",8,Night,46th,MS Dhoni (c),7
3,Ravindra Jadeja,-,"['1', '3', '0', '0', '100.00']",Chennai Super Kings,Sunrisers Hyderabad,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",1,Night,46th,-,1
4,Abhishek Sharma,Mukesh Choudhary,"['24', '29', '5', '1', '162.50']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",39,Night,46th,-,24
5,Kane Williamson,Pretorius,"['37', '67', '2', '2', '127.02']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",47,Night,46th,Kane Williamson (c),37
6,Rahul Tripathi,Mukesh Choudhary,"['1', '3', '0', '0', '0.00']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",0,Night,46th,-,1
7,Aiden Markram,Santner,"['10', '14', '0', '2', '170.00']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",17,Night,46th,-,10
8,Nicholas Pooran,Mukesh Choudhary,"['33', '53', '3', '6', '193.93']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",64,Night,46th,-,33
9,Shashank Singh,Mukesh Choudhary,"['14', '17', '1', '0', '107.14']",Sunrisers Hyderabad,Chennai Super Kings,May 01 2022,Pune,CSK won by 13 runs,"Sunrisers Hyderabad, elected to field first",15,Night,46th,-,14

In [25]:

if stats[1] == '-':
    batter_df['minutes while batting'] = pd.Series(0* len(batter_df))
else:
    batter_df['minutes while batting'] = stats[1].replace('\W','',regex=True).str.strip()

batter_df['4s'] = stats[2].replace('\W','',regex=True).str.strip()
batter_df['6s'] = stats[3].replace('\W','',regex=True).str.strip()
if stats[4] == '-':
    batter_df['s/r'] = pd.Series(0 * len(batter_df))
else:
    batter_df['s/r'] = stats[4].replace('[^.,a-zA-Z0-9 \n\.]','',regex=True).str.strip()
batter_df = batter_df.drop(['stats'],axis=1)


#date column
dates = batter_df['date'].str.strip()
batter_df = batter_df.drop(['date'],axis=1)
batter_df['date'] = dates.str.replace(' ','/')
season = batter_df['date'].str.split('/',n=-1,expand=True)
batter_df['season'] = season[2]


#toss column
toss = batter_df['toss'].str.split(',',expand=True)
batter_df['toss winner'] = toss[0]
batter_df['toss decision'] = toss[1]
batter_df = batter_df.drop(['toss'],axis=1)


#winner column
batter_df['summary'] = batter_df['winner']
winners = batter_df['winner'].str.split('won',n=1,expand=True)[0].str.strip()
batter_df.drop(['winner'],axis=1)
batter_df['winner'] = winners
# batter_df['summary'] = summary
batter_df['winner'] = batter_df['winner'].apply(fn.changeAbbrev)
batter_df['win_by'] = batter_df['summary'].apply(fn.winBy)


#winner_by column
batter_df['wicket_by'] = batter_df['wicket_by'].replace(' - ','not out')
batter_df['wicket_by'] = batter_df['wicket_by'].replace('[^()/,a-zA-Z0-9]',' ',regex=True)
batter_df['wicket_by'] = batter_df['wicket_by'].str.lstrip()
batter_df['is_notout'] = batter_df['wicket_by'].apply(lambda x:1 if x == 'not out' else 0)
batter_df['is_out'] = batter_df['is_notout'].apply(lambda x:1 if x == 0 else 0)
batter_df['is_runout'] = batter_df['wicket_by'].apply(fn.checkRunout)

batter_df = batter_df[['id','date','season','batsman','runs_scored', 'balls played',
    'minutes while batting', '4s', '6s', 's/r','wicket_by',
    'is_notout','is_out','is_runout','batting_team', 'bowling_team', 
    'venue','day/night','captain','toss winner','toss decision','winner','win_by','summary']]

print('processed successfully.',match_id)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [11]:
batter_df.T.head(20)

,0,1,2,3,4,5,6,7,8
id,45th,45th,45th,45th,45th,45th,45th,45th,45th
date,May/03/2023,May/03/2023,May/03/2023,May/03/2023,May/03/2023,May/03/2023,May/03/2023,May/03/2023,May/03/2023
season,2023,2023,2023,2023,2023,2023,2023,2023,2023
batsman,,Manan Vohra,Kyle Mayers,Karan Sharma,Krunal Pandya,Marcus Stoinis,Nicholas Pooran,Ayush Badoni,Krishnappa Gowtham
runs_scored,0,10,14,9,0,6,20,59,1
balls played,0,11,17,16,1,4,31,33,3
minutes while batting,0,27,17,32,3,5,46,41,10
4s,0,1,2,0,0,1,0,2,0
6s,0,0,0,0,0,0,0,4,0
s/r,0.00,90.90,82.35,56.25,0.00,150.00,64.51,178.78,33.33
wicket_by,,Theekshana,Ali,Ali,Theekshana,Jadeja,Pathirana,Pathirana,not out
is_notout,0,0,0,0,0,0,0,0,1
is_out,1,1,1,1,1,1,1,1,0
is_runout,0,0,0,0,0,0,0,0,0
batting_team,Chennai Super Kings,Lucknow Super Giants,Lucknow Super Giants,Lucknow Super Giants,Lucknow Super Giants,Lucknow Super Giants,Lucknow Super Giants,Lucknow Super Giants,Lucknow Super Giants
bowling_team,Lucknow Super Giants,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings
venue,Lucknow,Lucknow,Lucknow,Lucknow,Lucknow,Lucknow,Lucknow,Lucknow,Lucknow
day/night,Day,Day,Day,Day,Day,Day,Day,Day,Day
captain,-,-,-,-,Krunal Pandya (c),-,-,-,-
toss winner,-,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings

In [12]:

batter_df.to_csv('test.csv',index=False)
batter_df_nonull = pd.read_csv('test.csv')
batter_df_nonull['s/r'].fillna(0.00,inplace=True)
batter_df_nonull.fillna('-',inplace=True)
batter_df_nonull.to_csv('test.csv',index=False)
print('exported successfully.',match_id)

exported successfully. 45th

In [3]:
bowler_df = pd.read_csv(r"D:\Yash\Projects\IPL-2024\CSV Data\bowling\bowler_data_45th_Match_D_N_.csv")

In [4]:
new_id = bowler_df['id'].str.split(' ',1,expand=True)
bowler_df = bowler_df.drop(['id'],axis=1)
bowler_df['id2'] = new_id[1]
bowler_df['day/night'] = bowler_df['id2'].apply(lambda x:'Night' if x == 'Match (N)' else 'Day')
bowler_df = bowler_df.drop(['id2'],axis=1)

bowler_df.head(10)

,bowler,wicket,stats,batting_team,bowling_team,date,venue,winner,toss,day/night
0,-,-,"['0', '0', '0', '0', '0', '0', '0', '0', '0']",Chennai Super Kings,Lucknow Super Giants,May 03 2023,Lucknow,No Result,-,Day
1,Matheesha Pathirana,2,"['0', '2', '0', '0', '7', '6.60', '22', '0', '...",Lucknow Super Giants,Chennai Super Kings,May 03 2023,Lucknow,No result,"Chennai Super Kings, elected to field first",Day
2,Ravindra Jadeja,1,"['0', '0', '0', '0', '8', '3.66', '11', '0', '3']",Lucknow Super Giants,Chennai Super Kings,May 03 2023,Lucknow,No result,"Chennai Super Kings, elected to field first",Day
3,Maheesh Theekshana,2,"['0', '0', '2', '2', '7', '9.25', '37', '0', '4']",Lucknow Super Giants,Chennai Super Kings,May 03 2023,Lucknow,No result,"Chennai Super Kings, elected to field first",Day
4,Moeen Ali,2,"['0', '0', '0', '0', '11', '3.25', '13', '0', ...",Lucknow Super Giants,Chennai Super Kings,May 03 2023,Lucknow,No result,"Chennai Super Kings, elected to field first",Day
5,Tushar Deshpande,0,"['0', '0', '0', '0', '5', '1.00', '1', '0', '1']",Lucknow Super Giants,Chennai Super Kings,May 03 2023,Lucknow,No result,"Chennai Super Kings, elected to field first",Day
6,Deepak Chahar,0,"['0', '0', '2', '4', '9', '10.25', '41', '0', ...",Lucknow Super Giants,Chennai Super Kings,May 03 2023,Lucknow,No result,"Chennai Super Kings, elected to field first",Day

In [5]:

if 'Qualifier' in new_id[0][0]:
    bowler_df['id'] = new_id[0]+new_id[1][0]
    match_id = new_id[0][0]+new_id[1][0]
    match_id = replace_special_characters(match_id)
else:
    bowler_df['id'] = new_id[0]
    match_id = new_id[0][0]

#dates column
dates = bowler_df['date'].str.strip()
bowler_df = bowler_df.drop(['date'],axis=1)
bowler_df['date'] = dates.str.replace(' ','/')
season = bowler_df['date'].str.split('/',n=-1,expand=True)
bowler_df['season'] = season[2]

bowler_df.head(10)

,bowler,wicket,stats,batting_team,bowling_team,venue,winner,toss,day/night,id,date,season
0,-,-,"['0', '0', '0', '0', '0', '0', '0', '0', '0']",Chennai Super Kings,Lucknow Super Giants,Lucknow,No Result,-,Day,45th,May/03/2023,2023
1,Matheesha Pathirana,2,"['0', '2', '0', '0', '7', '6.60', '22', '0', '...",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,"Chennai Super Kings, elected to field first",Day,45th,May/03/2023,2023
2,Ravindra Jadeja,1,"['0', '0', '0', '0', '8', '3.66', '11', '0', '3']",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,"Chennai Super Kings, elected to field first",Day,45th,May/03/2023,2023
3,Maheesh Theekshana,2,"['0', '0', '2', '2', '7', '9.25', '37', '0', '4']",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,"Chennai Super Kings, elected to field first",Day,45th,May/03/2023,2023
4,Moeen Ali,2,"['0', '0', '0', '0', '11', '3.25', '13', '0', ...",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,"Chennai Super Kings, elected to field first",Day,45th,May/03/2023,2023
5,Tushar Deshpande,0,"['0', '0', '0', '0', '5', '1.00', '1', '0', '1']",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,"Chennai Super Kings, elected to field first",Day,45th,May/03/2023,2023
6,Deepak Chahar,0,"['0', '0', '2', '4', '9', '10.25', '41', '0', ...",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,"Chennai Super Kings, elected to field first",Day,45th,May/03/2023,2023

In [6]:


#toss column
toss = bowler_df['toss'].str.split(',',expand=True)
bowler_df['toss winner'] = toss[0]
bowler_df['toss decision'] = toss[1]
bowler_df = bowler_df.drop(['toss'],axis=1)

bowler_df.head(10)

,bowler,wicket,stats,batting_team,bowling_team,venue,winner,day/night,id,date,season,toss winner,toss decision
0,-,-,"['0', '0', '0', '0', '0', '0', '0', '0', '0']",Chennai Super Kings,Lucknow Super Giants,Lucknow,No Result,Day,45th,May/03/2023,2023,-,None
1,Matheesha Pathirana,2,"['0', '2', '0', '0', '7', '6.60', '22', '0', '...",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,Day,45th,May/03/2023,2023,Chennai Super Kings,elected to field first
2,Ravindra Jadeja,1,"['0', '0', '0', '0', '8', '3.66', '11', '0', '3']",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,Day,45th,May/03/2023,2023,Chennai Super Kings,elected to field first
3,Maheesh Theekshana,2,"['0', '0', '2', '2', '7', '9.25', '37', '0', '4']",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,Day,45th,May/03/2023,2023,Chennai Super Kings,elected to field first
4,Moeen Ali,2,"['0', '0', '0', '0', '11', '3.25', '13', '0', ...",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,Day,45th,May/03/2023,2023,Chennai Super Kings,elected to field first
5,Tushar Deshpande,0,"['0', '0', '0', '0', '5', '1.00', '1', '0', '1']",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,Day,45th,May/03/2023,2023,Chennai Super Kings,elected to field first
6,Deepak Chahar,0,"['0', '0', '2', '4', '9', '10.25', '41', '0', ...",Lucknow Super Giants,Chennai Super Kings,Lucknow,No result,Day,45th,May/03/2023,2023,Chennai Super Kings,elected to field first

In [9]:


#winner column
winners = bowler_df['winner'].str.split('won',n=1,expand=True)[0].str.strip()

winners[0]

'No Result'

In [ ]:

summary = bowler_df['winner'].str.split(' ',n=1,expand=True)[1]
bowler_df.drop(['winner'],axis=1)
bowler_df['winner'] = winners
bowler_df['summary'] = summary
bowler_df['winner'] = bowler_df['winner'].apply(fn.changeAbbrev)
bowler_df['win_by'] = bowler_df['summary'].apply(fn.winBy)

In [ ]:

def processFile(filePath):
    
    match_id = ''
    batter_df = pd.read_csv(filePath)

    try:
        # id columns
        new_id = batter_df['id'].str.split(' ',1,expand=True)
        batter_df = batter_df.drop(['id'],axis=1)
        batter_df['id2'] = new_id[1]
        batter_df['day/night'] = batter_df['id2'].apply(lambda x:'Night' if x == 'Match (N)' else 'Day')
        batter_df = batter_df.drop(['id2'],axis=1)

        if 'Qualifier' in new_id[0][0]:
            batter_df['id'] = new_id[0]+new_id[1][0]
            match_id = new_id[0][0]+new_id[1][0]
            match_id = replace_special_characters(match_id)
        else:
            batter_df['id'] = new_id[0]
            match_id = new_id[0][0]

        #batsman column
        batter_df['batsman'] = batter_df['batsman'].str.replace('[^(),a-zA-Z0-9]',' ',regex=True).str.rstrip()
        batter_df['captain'] = batter_df['batsman'].apply(fn.markCaptain)
        batter_df['batsman'] = batter_df['batsman'].map(lambda x:x.rstrip('(c) '))


        #stats column
        stats = batter_df['stats'].str.split(',',expand=True)
        batter_df['balls played'] = stats[0].replace('\W','',regex=True).str.strip()
        batter_df['minutes while batting'] = stats[1].replace('\W','',regex=True).str.strip()
        batter_df['4s'] = stats[2].replace('\W','',regex=True).str.strip()
        batter_df['6s'] = stats[3].replace('\W','',regex=True).str.strip()
        batter_df['s/r'] = stats[4].replace('[^.,a-zA-Z0-9 \n\.]','',regex=True).str.strip()
        batter_df = batter_df.drop(['stats'],axis=1)


        #date column
        dates = batter_df['date'].str.strip()
        batter_df = batter_df.drop(['date'],axis=1)
        batter_df['date'] = dates.str.replace(' ','/')
        season = batter_df['date'].str.split('/',n=-1,expand=True)
        batter_df['season'] = season[2]


        #toss column
        toss = batter_df['toss'].str.split(',',expand=True)
        batter_df['toss winner'] = toss[0]
        batter_df['toss decision'] = toss[1]
        batter_df = batter_df.drop(['toss'],axis=1)


        #winner column
        batter_df['summary'] = batter_df['winner']
        winners = batter_df['winner'].str.split('won',n=1,expand=True)[0].str.strip()
        batter_df.drop(['winner'],axis=1)
        batter_df['winner'] = winners
        # batter_df['summary'] = summary
        batter_df['winner'] = batter_df['winner'].apply(fn.changeAbbrev)
        batter_df['win_by'] = batter_df['summary'].apply(fn.winBy)


        #winner_by column
        batter_df['wicket_by'] = batter_df['wicket_by'].replace(' - ','not out')
        batter_df['wicket_by'] = batter_df['wicket_by'].replace('[^()/,a-zA-Z0-9]',' ',regex=True)
        batter_df['wicket_by'] = batter_df['wicket_by'].str.lstrip()
        batter_df['is_notout'] = batter_df['wicket_by'].apply(lambda x:1 if x == 'not out' else 0)
        batter_df['is_out'] = batter_df['is_notout'].apply(lambda x:1 if x == 0 else 0)
        batter_df['is_runout'] = batter_df['wicket_by'].apply(fn.checkRunout)

        batter_df = batter_df[['id','date','season','batsman','runs_scored', 'balls played',
            'minutes while batting', '4s', '6s', 's/r','wicket_by',
            'is_notout','is_out','is_runout','batting_team', 'bowling_team', 
            'venue','day/night','captain','toss winner','toss decision','winner','win_by','summary']]
        
        print('processed successfully.',match_id)
    
    except Exception as e:
        print('data processing failed!',e,match_id)


    try:
        temp_file_name = r'D:\Yash\Projects\IPL-2024\Output Files\batting cleaned\batting_data_cleaned_{}.csv'.format(match_id)
        batter_df.to_csv(temp_file_name,index=False)
        batter_df_nonull = pd.read_csv(temp_file_name)
        batter_df_nonull['s/r'].fillna(0.00,inplace=True)
        batter_df_nonull.fillna('-',inplace=True)
        batter_df_nonull.to_csv(temp_file_name,index=False)
        print('exported successfully.',match_id)
    except Exception as e:
        print('failed to load data!',e,match_id)